.battle {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 6px;
}

.header {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  width: 100%;
  text-align: center;
}

.title > span {
  display: inline-block;
  margin-right: 6px;
}

.players {
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
}

.player {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.button {
  display: flex;
  width: 130px;
  justify-content: center;
  text-decoration: none;
  background: #353535;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  line-height: 2.75;
  transition: box-shadow 0.2s ease-out;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 1px #555555;
}
