.loader {
  display: flex;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  animation: flip infinite linear 1s;
}

@keyframes flip {
  from {
    transform: perspective(120px) rotateY(0deg);
  }
  to {
    transform: perspective(120px) rotateY(360deg);
  }
}
