.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.grid-item {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.no-result {
  color: #f44336;
  font-size: 1.2rem;
}

.emoji {
  display: inline-block;
  margin-right: 4px;
}
