.card {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 130px;
  text-emphasis: none;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  background-color: #f9a407;
  transition: box-shadow 0.2s ease-out;
}

.card-good {
  background-color: #158f53;
}

.card-good:hover {
  box-shadow: 0 0 8px 2px #35af73;
}

.card-bad {
  background-color: #be1417;
}

.card-bad:hover {
  box-shadow: 0 0 8px 2px #ee3437;
}

.card-neutral {
  background-color: #f9a407;
}

.card-neutral:hover {
  box-shadow: 0 0 8px 2px #fbc62a;
}

.card-image {
  object-fit: contain;
  max-width: 100%;
}

.card-caption {
  text-align: center;
  font-size: 0.9rem;
}
