.result {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

.button {
  margin-top: 1rem;
  outline: none;
  border: none;
  line-height: 2.75;
  cursor: pointer;
  font-size: 0.9rem;
  width: 130px;
  background: #353535;
  color: white;
  transition: box-shadow 0.2s ease-out;
  border-radius: 4px;
}

.button:hover {
  box-shadow: 0 0 6px 1px #555555;
}
