.details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 360px;
}

.item {
  display: flex;
  line-height: 1.75;
  text-align: start;
}

.item > span:first-child {
  margin-right: 0.5rem;
  font-weight: bold;
}

.item > span:first-child:after {
  content: ':';
}
